In [1]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib notebook

In [2]:
riqueza_comuna = pd.read_csv('https://raw.githubusercontent.com/leoferres/gitiele356b/main/data/hdi.csv')
poblacion = pd.read_csv('https://raw.githubusercontent.com/leoferres/gitiele356b/main/data/pobXedadCenso.csv')
vacunacion = pd.read_csv('https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto81/vacunacion_comuna_edad_1eraDosis.csv')

In [3]:
riqueza_comuna.head()

   comuna       LEI        II        EI    idh       HDI
0   13101  0.791672  0.873137  0.924099  0.807  0.861222
1   13102  0.782817  0.800343  0.713499  0.743  0.764616
2   13103  0.752447  0.750382  0.657961  0.683  0.718874
3   13104  0.784872  0.760697  0.705426  0.707  0.749584
4   13105  0.777236  0.780019  0.673876  0.711  0.742015

In [4]:
poblacion.head()

   COMUNA EDAD_0A5 EDAD_6A14 EDAD_15A64 EDAD_65YMAS
0    1101        0         0         15           0
1    1101        *         *         54          10
2    1101        *         0         28           *
3    1101        *         7         49           *
4    1101        *         *         26           7

In [5]:
poblacion = poblacion.replace('*',0)
poblacion.head()

   COMUNA EDAD_0A5 EDAD_6A14 EDAD_15A64 EDAD_65YMAS
0    1101        0         0         15           0
1    1101        0         0         54          10
2    1101        0         0         28           0
3    1101        0         7         49           0
4    1101        0         0         26           7

In [6]:
vacunacion.head()

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,15,16,17,18,19,...,71,72,73,74,75,76,77,78,79,80
0,Arica y Parinacota,15,Arica,15101.0,247552.0,0.0,0.0,0.0,499.0,699.0,...,1375.0,1328.0,1304.0,1218.0,1156.0,995.0,1058.0,901.0,747.0,5085.0
1,Arica y Parinacota,15,Camarones,15102.0,1233.0,0.0,0.0,0.0,3.0,2.0,...,3.0,22.0,11.0,17.0,6.0,5.0,6.0,5.0,6.0,27.0
2,Arica y Parinacota,15,General Lagos,15202.0,810.0,0.0,0.0,0.0,1.0,0.0,...,2.0,7.0,2.0,4.0,4.0,2.0,3.0,4.0,2.0,10.0
3,Arica y Parinacota,15,Putre,15201.0,2515.0,0.0,0.0,0.0,0.0,2.0,...,9.0,11.0,2.0,12.0,10.0,4.0,9.0,9.0,8.0,51.0
4,Arica y Parinacota,15,Desconocido Arica y Parinacota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
vacunacion['TOTAL_VAC'] = vacunacion.iloc[:, 5:71].sum(axis=1)
vacunacion = vacunacion.loc[:,['Comuna','Codigo comuna','TOTAL_VAC']]

In [8]:
vacunacion[(vacunacion['Comuna'] == 'Alhue')]

   Comuna  Codigo comuna  TOTAL_VAC
88  Alhue        13502.0     5250.0

In [9]:
poblacion.dtypes

COMUNA          int64
EDAD_0A5       object
EDAD_6A14      object
EDAD_15A64     object
EDAD_65YMAS    object
dtype: object

In [10]:
poblacion['EDAD_0A5']=poblacion['EDAD_0A5'].astype(str).astype(int)
poblacion['EDAD_6A14']=poblacion['EDAD_6A14'].astype(str).astype(int)
poblacion['EDAD_15A64']=poblacion['EDAD_15A64'].astype(str).astype(int)
poblacion['EDAD_65YMAS']=poblacion['EDAD_65YMAS'].astype(str).astype(int)
poblacion.dtypes

COMUNA         int64
EDAD_0A5       int32
EDAD_6A14      int32
EDAD_15A64     int32
EDAD_65YMAS    int32
dtype: object

In [11]:
poblacion = poblacion.groupby('COMUNA').sum().reset_index()
poblacion = poblacion.rename(columns={'COMUNA':'CODIGO_COMUNA'})
poblacion

     CODIGO_COMUNA  EDAD_0A5  EDAD_6A14  EDAD_15A64  EDAD_65YMAS
0             1101     15490      22691      132629        16895
1             1107     10105      17365       72866         3908
2             1401       899       1786        9446          864
3             1402        73        134         772          136
4             1403        75        111        1246          148
..             ...       ...        ...         ...          ...
341          14204      1433       2829       19778         3939
342          15101     16125      26165      148234        22224
343          15102        36         74         728          154
344          15201        31         94        2169          118
345          15202        15          0         337           64

[346 rows x 5 columns]

In [12]:
poblacion['TOTAL'] = poblacion.iloc[:, [1,2,3,4]].sum(axis=1)
poblacion.head()

   CODIGO_COMUNA  EDAD_0A5  EDAD_6A14  EDAD_15A64  EDAD_65YMAS   TOTAL
0           1101     15490      22691      132629        16895  187705
1           1107     10105      17365       72866         3908  104244
2           1401       899       1786        9446          864   12995
3           1402        73        134         772          136    1115
4           1403        75        111        1246          148    1580

In [13]:
vacunacion.dtypes

Comuna            object
Codigo comuna    float64
TOTAL_VAC        float64
dtype: object

In [14]:
vacunacion = vacunacion.rename(columns={'Comuna':'NOMBRE_COMUNA','Codigo comuna':'CODIGO_COMUNA', 'Poblacion':'POBLACION'})

In [15]:
join1 = pd.merge(vacunacion, poblacion, on='CODIGO_COMUNA')
join1

,NOMBRE_COMUNA,CODIGO_COMUNA,TOTAL_VAC,EDAD_0A5,EDAD_6A14,EDAD_15A64,EDAD_65YMAS,TOTAL
0,Arica,15101.0,128261.0,16125,26165,148234,22224,212748
1,Camarones,15102.0,675.0,36,74,728,154,992
2,General Lagos,15202.0,201.0,15,0,337,64,416
3,Putre,15201.0,1058.0,31,94,2169,118,2412
4,Alto Hospicio,1107.0,51759.0,10105,17365,72866,3908,104244
...,...,...,...,...,...,...,...,...
320,Punta Arenas,12101.0,91244.0,6679,12610,90566,13785,123640
321,Rio Verde,12103.0,311.0,4,0,279,0,283
322,San Gregorio,12104.0,581.0,0,0,541,36,577
323,Timaukel,12303.0,472.0,14,0,123,0,137
324,Torres del Paine,12402.0,845.0,8,22,482,32,544

In [27]:
join1[(join1['NOMBRE_COMUNA'] == 'San Pedro')]

,NOMBRE_COMUNA,CODIGO_COMUNA,TOTAL_VAC,EDAD_0A5,EDAD_6A14,EDAD_15A64,EDAD_65YMAS,TOTAL
128,San Pedro,13505.0,9996.0,633,1075,6126,1113,8947

In [16]:
riqueza_comuna

    comuna       LEI        II        EI    idh       HDI
0    13101  0.791672  0.873137  0.924099  0.807  0.861222
1    13102  0.782817  0.800343  0.713499  0.743  0.764616
2    13103  0.752447  0.750382  0.657961  0.683  0.718874
3    13104  0.784872  0.760697  0.705426  0.707  0.749584
4    13105  0.777236  0.780019  0.673876  0.711  0.742015
5    13106  0.790810  0.784378  0.729145  0.735  0.767604
6    13107  0.726330  0.775631  0.641707  0.737  0.712375
7    13108  0.821551  0.751105  0.722493  0.709  0.763935
8    13109  0.856570  0.835740  0.860235  0.775  0.850780
9    13110  0.773094  0.824255  0.791155  0.804  0.795888
10   13111  0.763582  0.751721  0.668837  0.689  0.726793
11   13112  0.673794  0.758585  0.642574  0.679  0.689951
12   13113  0.890647  0.948908  0.968223  0.883  0.935337
13   13114  0.909774  0.971056  0.988014  0.933  0.955683
14   13115  0.831115  0.921621  0.813262  0.912  0.854046
15   13116  0.759407  0.784503  0.690043  0.657  0.743558
16   13117  0.787707  0.775519  0.697989  0.715  0.752665
17   13118  0.831334  0.842243  0.841346  0.806  0.838293
18   13119  0.768126  0.823406  0.808770  0.782  0.799755
19   13120  0.900363  0.947737  0.993361  0.860  0.946392
20   13121  0.815597  0.767565  0.733783  0.708  0.771589
21   13122  0.749867  0.790376  0.660819  0.743  0.731645
22   13123  0.917316  0.948546  1.044039  0.911  0.968496
23   13124  0.708344  0.764565  0.723853  0.735  0.731874
24   13125  0.667144  0.838734  0.763492  0.782  0.753152
25   13126  0.813982  0.794761  0.686444  0.723  0.762931
26   13127  0.775766  0.742308  0.672305  0.697  0.728831
27   13128  0.725183  0.782950  0.674829  0.709  0.726315
28   13129  0.814219  0.815018  0.747089  0.719  0.791456
29   13130  0.855578  0.851691  0.816075  0.765  0.840925
30   13131  0.767104  0.772013  0.605335  0.679  0.710381
31   13132  0.914831  0.996899  1.078779  0.949  0.994584
32   13201  0.725925  0.773923  0.721415  0.773  0.740045
33   13202  0.749975  0.847558  0.735982  0.807  0.776297
34   13203  0.789578  0.828198  0.654495  0.759  0.753607
35   13301  0.667378  0.787350  0.625280    NaN  0.690036
36   13302  0.683453  0.787269  0.688481    NaN  0.718193
37   13303  0.816336  0.775896  0.629003    NaN  0.735826
38   13401  0.743463  0.762822  0.676397  0.712  0.726599
39   13402  0.742570  0.822340  0.737301    NaN  0.766439
40   13403  0.801109  0.760228  0.601466    NaN  0.715509
41   13404  0.738969  0.776218  0.655095    NaN  0.721614
42   13501  0.787502  0.739201  0.642315    NaN  0.720423
43   13502  0.876923  0.756470  0.617345    NaN  0.742609
44   13503  0.811913  0.766193  0.647025    NaN  0.738340
45   13504  0.809846  0.756324  0.617808    NaN  0.723305
46   13505  0.819107  0.690242  0.556089    NaN  0.679979
47   13601  0.794968  0.802522  0.686845    NaN  0.759548
48   13602  0.740793  0.766459  0.679887    NaN  0.728127
49   13603  0.784525  0.808623  0.736952    NaN  0.776123
50   13604  0.764730  0.738680  0.659196  0.728  0.719437
51   13605  0.785732  0.801915  0.698606    NaN  0.760697

In [17]:
riqueza_comuna = riqueza_comuna.rename(columns={'comuna':'CODIGO_COMUNA'})

In [18]:
df = pd.merge(join1, riqueza_comuna, on='CODIGO_COMUNA')
df

,NOMBRE_COMUNA,CODIGO_COMUNA,TOTAL_VAC,EDAD_0A5,EDAD_6A14,EDAD_15A64,EDAD_65YMAS,TOTAL,LEI,II,EI,idh,HDI
0,Alhue,13502.0,5250.0,309,489,4472,600,5870,0.876923,0.756470,0.617345,NaN,0.742609
1,Buin,13402.0,69288.0,7296,11651,66360,7667,92974,0.742570,0.822340,0.737301,NaN,0.766439
2,Calera de Tango,13403.0,20395.0,1700,2991,17442,2072,24205,0.801109,0.760228,0.601466,NaN,0.715509
3,Cerrillos,13102.0,47892.0,5907,8703,53650,9273,77533,0.782817,0.800343,0.713499,0.743,0.764616
4,Cerro Navia,13103.0,68397.0,9719,14745,89915,16011,130390,0.752447,0.750382,0.657961,0.683,0.718874
5,Colina,13301.0,89948.0,13738,21129,98912,7813,141592,0.667378,0.787350,0.625280,NaN,0.690036
6,Conchali,13104.0,87113.0,8730,12629,85791,16819,123969,0.784872,0.760697,0.705426,0.707,0.749584
7,Curacavi,13503.0,22468.0,2284,3709,21872,3514,31379,0.811913,0.766193,0.647025,NaN,0.738340
8,El Bosque,13105.0,89761.0,12071,18633,109501,19321,159526,0.777236,0.780019,0.673876,0.711,0.742015
9,El Monte,13602.0,21267.0,2865,4375,24123,3363,34726,0.740793,0.766459,0.679887,NaN,0.728127
10,Estacion Central,13106.0,94092.0,9422,12110,105479,16724,143735,0.790810,0.784378,0.729145,0.735,0.767604
11,Huechuraba,13107.0,80495.0,8465,13508,66093,9016,97082,0.726330,0.775631,0.641707,0.737,0.712375
12,Independencia,13108.0,67789.0,7195,8357,72314,10749,98615,0.821551,0.751105,0.722493,0.709,0.763935
13,Isla de Maipo,13603.0,24921.0,2521,4353,24431,3381,34686,0.784525,0.808623,0.736952,NaN,0.776123
14,La Cisterna,13109.0,60941.0,6162,8953,61118,12715,88948,0.856570,0.835740,0.860235,0.775,0.850780
15,La Florida,13110.0,247786.0,24131,37044,251149,45185,357509,0.773094,0.824255,0.791155,0.804,0.795888
16,La Granja,13111.0,78979.0,8539,12728,79967,13453,114687,0.763582,0.751721,0.668837,0.689,0.726793
17,La Pintana,13112.0,78869.0,15156,23996,119328,15513,173993,0.673794,0.758585,0.642574,0.679,0.689951
18,La Reina,13113.0,72252.0,5479,9402,62159,13321,90361,0.890647,0.948908,0.968223,0.883,0.935337
19,Lampa,13302.0,59277.0,9327,14511,69124,5262,98224,0.683453,0.787269,0.688481,NaN,0.718193
20,Las Condes,13114.0,224625.0,17548,23766,203649,44861,289824,0.909774,0.971056,0.988014,0.933,0.955683
21,Lo Barnechea,13115.0,73874.0,7818,15397,73112,7582,103909,0.831115,0.921621,0.813262,0.912,0.854046
22,Lo Espejo,13116.0,54247.0,7609,11098,67754,11420,97881,0.759407,0.784503,0.690043,0.657,0.743558
23,Lo Prado,13117.0,72547.0,6532,9574,64747,13745,94598,0.787707,0.775519,0.697989,0.715,0.752665
24,Macul,13118.0,77813.0,7347,10177,79768,16742,114034,0.831334,0.842243,0.841346,0.806,0.838293
25,Maipu,13119.0,298380.0,32393,56836,370501,45224,504954,0.768126,0.823406,0.808770,0.782,0.799755
26,Maria Pinto,13504.0,9574.0,785,1365,9071,1166,12387,0.809846,0.756324,0.617808,NaN,0.723305
27,Melipilla,13501.0,84116.0,8937,14139,83196,13342,119614,0.787502,0.739201,0.642315,NaN,0.720423
28,Nunoa,13120.0,189992.0,13414,15287,146549,29777,205027,0.900363,0.947737,0.993361,0.860,0.946392
29,Padre Hurtado,13604.0,49680.0,5140,7296,43416,5061,60913,0.764730,0.738680,0.659196,0.728,0.719437
30,Paine,13404.0,46398.0,5240,8900,49671,6332,70143,0.738969,0.776218,0.655095,NaN,0.721614
31,Pedro Aguirre Cerda,13121.0,60281.0,6654,9736,68628,14007,99025,0.815597,0.767565,0.733783,0.708,0.771589
32,Penaflor,13605.0,54826.0,6966,11202,61263,8432,87863,0.785732,0.801915,0.698606,NaN,0.760697
33,Penalolen,13122.0,148196.0,16914,29019,167190,23945,237068,0.749867,0.790376,0.660819,0.743,0.731645
34,Pirque,13202.0,19197.0,1932,3141,18189,2492,25754,0.749975,0.847558,0.735982,0.807,0.776297
35,Providencia,13123.0,115573.0,8280,8303,101578,21805,139966,0.917316,0.948546,1.044039,0.911,0.968496
36,Pudahuel,13124.0,140252.0,17228,27450,162552,18304,225534,0.708344,0.764565,0.723853,0.735,0.731874
37,Puente Alto,13201.0,299699.0,41148,69347,401186,39781,551462,0.725925,0.773923,0.721415,0.773,0.740045
38,Quilicura,13125.0,122238.0,15114,28469,150827,9997,204407,0.667144,0.838734,0.763492,0.782,0.753152
39,Quinta Normal,13126.0,77341.0,7412,10515,76222,14010,108159,0.813982,0.794761,0.686444,0.723,0.762931
40,Recoleta,13127.0,91974.0,11088,15726,109346,19301,155461,0.775766,0.742308,0.672305,0.697,0.728831
41,Renca,13128.0,82321.0,11698,17951,99893,14152,143694,0.725183,0.782950,0.674829,0.709,0.726315
42,San Bernardo,13401.0,158743.0,23331,38188,206389,24187,292095,0.743463,0.762822,0.676397,0.712,0.726599
43,San Joaquin,13129.0,70032.0,6039,8519,64126,13509,92193,0.814219,0.815018,0.747089,0.719,0.791456
44,San Jose de Maipo,13203.0,13521.0,1034,1768,11950,1755,16507,0.789578,0.828198,0.654495,0.759,0.753607
45,San Miguel,13130.0,90320.0,7556,9325,76224,13628,106733,0.855578,0.851691,0.816075,0.765,0.840925
46,San Pedro,13505.0,9996.0,633,1075,6126,1113,8947,0.819107,0.690242,0.556089,NaN,0.679979
47,San Ramon,13131.0,48235.0,6064,8842,54971,11905,81782,0.767104,0.772013,0.605335,0.679,0.710381
48,Santiago,13101.0,260935.0,22618,23769,323893,28936,399216,0.791672,0.873137,0.924099,0.807,0.861222
49,Talagante,13601.0,46990.0,5619,8762,51047,6648,72076,0.794968,0.802522,0.686845,NaN,0.759548
50,Tiltil,13303.0,12338.0,1452,2061,13195,1804,18512,0.816336,0.775896,0.629003,NaN,0.735826
51,Vitacura,13132.0,63145.0,6219,8227,54307,14511,83264,0.914831,0.996899,1.078779,0.949,0.994584

In [22]:
df['PORCENTAJE_VAC']=df['TOTAL_VAC']/df['TOTAL']
df['PORCENTAJE_VAC_65+']=df['EDAD_65YMAS']/df['TOTAL']
df

,NOMBRE_COMUNA,CODIGO_COMUNA,TOTAL_VAC,EDAD_0A5,EDAD_6A14,EDAD_15A64,EDAD_65YMAS,TOTAL,LEI,II,EI,idh,HDI,PORCENTAJE_VAC,PORCENTAJE_VAC_65+
0,Alhue,13502.0,5250.0,309,489,4472,600,5870,0.876923,0.756470,0.617345,NaN,0.742609,0.894378,0.102215
1,Buin,13402.0,69288.0,7296,11651,66360,7667,92974,0.742570,0.822340,0.737301,NaN,0.766439,0.745241,0.082464
2,Calera de Tango,13403.0,20395.0,1700,2991,17442,2072,24205,0.801109,0.760228,0.601466,NaN,0.715509,0.842595,0.085602
3,Cerrillos,13102.0,47892.0,5907,8703,53650,9273,77533,0.782817,0.800343,0.713499,0.743,0.764616,0.617698,0.119601
4,Cerro Navia,13103.0,68397.0,9719,14745,89915,16011,130390,0.752447,0.750382,0.657961,0.683,0.718874,0.524557,0.122793
5,Colina,13301.0,89948.0,13738,21129,98912,7813,141592,0.667378,0.787350,0.625280,NaN,0.690036,0.635262,0.055180
6,Conchali,13104.0,87113.0,8730,12629,85791,16819,123969,0.784872,0.760697,0.705426,0.707,0.749584,0.702700,0.135671
7,Curacavi,13503.0,22468.0,2284,3709,21872,3514,31379,0.811913,0.766193,0.647025,NaN,0.738340,0.716020,0.111986
8,El Bosque,13105.0,89761.0,12071,18633,109501,19321,159526,0.777236,0.780019,0.673876,0.711,0.742015,0.562673,0.121115
9,El Monte,13602.0,21267.0,2865,4375,24123,3363,34726,0.740793,0.766459,0.679887,NaN,0.728127,0.612423,0.096844
10,Estacion Central,13106.0,94092.0,9422,12110,105479,16724,143735,0.790810,0.784378,0.729145,0.735,0.767604,0.654621,0.116353
11,Huechuraba,13107.0,80495.0,8465,13508,66093,9016,97082,0.726330,0.775631,0.641707,0.737,0.712375,0.829144,0.092870
12,Independencia,13108.0,67789.0,7195,8357,72314,10749,98615,0.821551,0.751105,0.722493,0.709,0.763935,0.687411,0.109000
13,Isla de Maipo,13603.0,24921.0,2521,4353,24431,3381,34686,0.784525,0.808623,0.736952,NaN,0.776123,0.718474,0.097474
14,La Cisterna,13109.0,60941.0,6162,8953,61118,12715,88948,0.856570,0.835740,0.860235,0.775,0.850780,0.685131,0.142949
15,La Florida,13110.0,247786.0,24131,37044,251149,45185,357509,0.773094,0.824255,0.791155,0.804,0.795888,0.693090,0.126388
16,La Granja,13111.0,78979.0,8539,12728,79967,13453,114687,0.763582,0.751721,0.668837,0.689,0.726793,0.688648,0.117302
17,La Pintana,13112.0,78869.0,15156,23996,119328,15513,173993,0.673794,0.758585,0.642574,0.679,0.689951,0.453288,0.089159
18,La Reina,13113.0,72252.0,5479,9402,62159,13321,90361,0.890647,0.948908,0.968223,0.883,0.935337,0.799593,0.147420
19,Lampa,13302.0,59277.0,9327,14511,69124,5262,98224,0.683453,0.787269,0.688481,NaN,0.718193,0.603488,0.053571
20,Las Condes,13114.0,224625.0,17548,23766,203649,44861,289824,0.909774,0.971056,0.988014,0.933,0.955683,0.775039,0.154787
21,Lo Barnechea,13115.0,73874.0,7818,15397,73112,7582,103909,0.831115,0.921621,0.813262,0.912,0.854046,0.710949,0.072968
22,Lo Espejo,13116.0,54247.0,7609,11098,67754,11420,97881,0.759407,0.784503,0.690043,0.657,0.743558,0.554214,0.116672
23,Lo Prado,13117.0,72547.0,6532,9574,64747,13745,94598,0.787707,0.775519,0.697989,0.715,0.752665,0.766898,0.145299
24,Macul,13118.0,77813.0,7347,10177,79768,16742,114034,0.831334,0.842243,0.841346,0.806,0.838293,0.682367,0.146816
25,Maipu,13119.0,298380.0,32393,56836,370501,45224,504954,0.768126,0.823406,0.808770,0.782,0.799755,0.590905,0.089561
26,Maria Pinto,13504.0,9574.0,785,1365,9071,1166,12387,0.809846,0.756324,0.617808,NaN,0.723305,0.772907,0.094131
27,Melipilla,13501.0,84116.0,8937,14139,83196,13342,119614,0.787502,0.739201,0.642315,NaN,0.720423,0.703229,0.111542
28,Nunoa,13120.0,189992.0,13414,15287,146549,29777,205027,0.900363,0.947737,0.993361,0.860,0.946392,0.926668,0.145235
29,Padre Hurtado,13604.0,49680.0,5140,7296,43416,5061,60913,0.764730,0.738680,0.659196,0.728,0.719437,0.815589,0.083086
30,Paine,13404.0,46398.0,5240,8900,49671,6332,70143,0.738969,0.776218,0.655095,NaN,0.721614,0.661477,0.090273
31,Pedro Aguirre Cerda,13121.0,60281.0,6654,9736,68628,14007,99025,0.815597,0.767565,0.733783,0.708,0.771589,0.608745,0.141449
32,Penaflor,13605.0,54826.0,6966,11202,61263,8432,87863,0.785732,0.801915,0.698606,NaN,0.760697,0.623994,0.095968
33,Penalolen,13122.0,148196.0,16914,29019,167190,23945,237068,0.749867,0.790376,0.660819,0.743,0.731645,0.625120,0.101005
34,Pirque,13202.0,19197.0,1932,3141,18189,2492,25754,0.749975,0.847558,0.735982,0.807,0.776297,0.745399,0.096762
35,Providencia,13123.0,115573.0,8280,8303,101578,21805,139966,0.917316,0.948546,1.044039,0.911,0.968496,0.825722,0.155788
36,Pudahuel,13124.0,140252.0,17228,27450,162552,18304,225534,0.708344,0.764565,0.723853,0.735,0.731874,0.621866,0.081158
37,Puente Alto,13201.0,299699.0,41148,69347,401186,39781,551462,0.725925,0.773923,0.721415,0.773,0.740045,0.543463,0.072137
38,Quilicura,13125.0,122238.0,15114,28469,150827,9997,204407,0.667144,0.838734,0.763492,0.782,0.753152,0.598013,0.048907
39,Quinta Normal,13126.0,77341.0,7412,10515,76222,14010,108159,0.813982,0.794761,0.686444,0.723,0.762931,0.715068,0.129532
40,Recoleta,13127.0,91974.0,11088,15726,109346,19301,155461,0.775766,0.742308,0.672305,0.697,0.728831,0.591621,0.124153
41,Renca,13128.0,82321.0,11698,17951,99893,14152,143694,0.725183,0.782950,0.674829,0.709,0.726315,0.572891,0.098487
42,San Bernardo,13401.0,158743.0,23331,38188,206389,24187,292095,0.743463,0.762822,0.676397,0.712,0.726599,0.543464,0.082805
43,San Joaquin,13129.0,70032.0,6039,8519,64126,13509,92193,0.814219,0.815018,0.747089,0.719,0.791456,0.759624,0.146530
44,San Jose de Maipo,13203.0,13521.0,1034,1768,11950,1755,16507,0.789578,0.828198,0.654495,0.759,0.753607,0.819107,0.106319
45,San Miguel,13130.0,90320.0,7556,9325,76224,13628,106733,0.855578,0.851691,0.816075,0.765,0.840925,0.846224,0.127683
46,San Pedro,13505.0,9996.0,633,1075,6126,1113,8947,0.819107,0.690242,0.556089,NaN,0.679979,1.117246,0.124399
47,San Ramon,13131.0,48235.0,6064,8842,54971,11905,81782,0.767104,0.772013,0.605335,0.679,0.710381,0.589800,0.145570
48,Santiago,13101.0,260935.0,22618,23769,323893,28936,399216,0.791672,0.873137,0.924099,0.807,0.861222,0.653619,0.072482
49,Talagante,13601.0,46990.0,5619,8762,51047,6648,72076,0.794968,0.802522,0.686845,NaN,0.759548,0.651951,0.092236
50,Tiltil,13303.0,12338.0,1452,2061,13195,1804,18512,0.816336,0.775896,0.629003,NaN,0.735826,0.666487,0.097450
51,Vitacura,13132.0,63145.0,6219,8227,54307,14511,83264,0.914831,0.996899,1.078779,0.949,0.994584,0.758371,0.174277